.project-jumbo {
    border: 1px solid #00ff00;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    display: block;
    float: right;
}

.post-listing {
    clear: both;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.post-listing-title {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.post-info {
    display: flex;
    width: 80%;
    padding: 10px;
    border-bottom: dashed 1px #00ff00;
    text-decoration: none; 
}
.post-info img {
    max-height: 100px;
    padding-right: 10px;
}
.post-info:hover * {
    color: black;
    border-color: black;
}

.post-teaser {
    border-right: dashed 1px #00ff00;
    padding-right: 20px;
}

.post-summary {
    max-width: 40%;
    padding: 10px;
    align-self: center;
    height: 100%;
}

.brand {
    margin: 0;
    float: left;
}

#matrix {
    display: none;
}